.idea

EDA/Data/
EDA/.ipynb_checkpoints/

git/git w.curl code.md

Pandas/.ipynb_checkpoints/

Public_Data_API/Data/
Public_Data_API/.ipynb_checkpoints/

Python/Python_Study_Checkio/.ipynb_checkpoints/
Python/Programmers_Problems/.ipynb_checkpoints/
Python/Programmers_Problems/Kakao2019/.ipynb_checkpoints/
Python/Lecture_Note_Ashal/.idea
Python/Lecture_Note_Ashal/.pytest_cache
Python/Lecture_Note_Ashal/__pycache__

SQL/.ipynb_checkpoints/
SQL/DB/

Statistics/Data/
Statistics/.ipynb_checkpoints/
Statistics/Provided_Lecture_Code/

Visualization/.ipynb_checkpoints/
Visualization/tableau/샘플데이터/
Visualization/tableau/맵 원본/

Recommendation_System/.ipynb_checkpoints/
Recommendation_System/Data/
Recommendation_System/Instructor_Note/
